.auth-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 2px solid var(--border);
    padding: 40px;
    border-radius: 10px;
}

.auth-container > h2 {
    margin-bottom: 30px;
}

.auth-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
}

.auth-submit {
    padding: 5px;
}

.auth-bottom-text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.auth-bottom-text > button {
    margin-left: 4px;
}

.auth-error-text {
    color: red;
    position: relative;
    top: -30px;
    font-size: 12px;
}

.auth-eye-icon {
    position: absolute;
    right: 6px;
    top: 24px;
}

.auth-eye-icon:hover,
.auth-eye-icon:focus {
    cursor: pointer;
}
