.modal-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.modal-close-icon {
    position: absolute;
    right: 5px;
    top: 5px;
}

.modal-close-icon:hover {
    cursor: pointer;
}

.delete-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-modal-container > h2 {
    margin-bottom: 10px;
}

.delete-modal-confirm-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.form-modal-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-modal-container > label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-modal-container > textarea {
    height: 200px;
}

.form-modal-container > h2 {
    margin-bottom: 20px;
}
