* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

:root {
    --background: white;
    --color: black;
    --border: black;
}

[data-theme="dark"] {
    --background: black;
    --color: white;
    --border: white;
}

body {
    background: var(--background);
    color: var(--color);
}

.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-close-icon,
.table-header-sort-icon,
.auth-eye-icon {
    color: black;
}

button {
    padding: 5px;
}

button:hover,
button:focus {
    cursor: pointer;
}

input,
textarea {
    padding: 5px;
}
