* {
    margin: 0;
    padding: 0;
}

.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 5px;
}

button:hover,
button:focus {
    cursor: pointer;
}

input,
textarea {
    padding: 5px;
}
